@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
font-family: 'Roboto', sans-serif;
*/

:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navigation-bar {
    max-height: fit-content;
    width: 100vw;
    border: solid 2px red;
}

.navigation-bar .logo-hamburger-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar .logo {
    font-size: 5rem;
    letter-spacing: 0.1rem;
    padding: 1rem;
}

.navigation-bar .hamburger-container {
    position: relative;
    margin-right: 1rem;
}

.navigation-bar .hamburger-container i {
    position: absolute;
    inset: 0;
}

.navigation-bar .navigation-links {
    display: flex;
    flex-direction: column;
}

@media (min-width: 575px) {
    .navigation-bar .navigation-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
}
